@charset "utf-8";
/* SIR 지운아빠 */
/* 최근게시물 스킨 (new) */
#new_sch {margin-bottom:10px;text-align:right}
#new_sch legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#new_sch p {padding:5px 0 0;font-size:0.95em;text-align:right;letter-spacing:-0.1em}

.td_name {width:150px;}