* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
input, textarea, select {
  -webkit-user-select: auto;
}
HTML {
  height: 100%;
  -webkit-text-size-adjust: none;
  /* iPhone */
}
BODY {
  background-color: #FFFFFF;
  font-family: "ヒラギノ角ゴ", "Osaka－等幅", Verdana, Arial, sans-serif, helvetica;
  font-size: 0.88em;
  color: #FFF;
  margin: 0;
  padding: 0;
//  background-image: url(../image/pattern.jpg);
//  background-repeat: repeat;
}
H1, H2, H3, H4, H5, H6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
UL, LI {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: bottom;
}
IMG {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: none;
  height: auto;
}
P {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  padding: 0px 0px 0px 36%;
}
* html .clearfix {
  height: 1px;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clear {
  min-height: 1px;
}
ul {
  text-align: center;
}
p img {
  margin: 4px 0px 2px 0;
}
.blanktop {
  padding: 10px 0px;
}
body#home {
  background-color: #FFFFFF;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
}
.bnr_list {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  position: relative;
}
.bnr_list ul {
  display: block;
}
.bnr_list ul li {
  width: 25%;
  display: inline;
  float: left;
  position: relative;
  overflow: hidden;
  border: none;
}
.bnr_list ul li img.active {
  visibility: visible;
}
.bnr_list ul li img.no_active {
  visibility: hidden;
}
#Foot_home {
  height: 64px;
  top: 5px;
}
#Foot_home_inner {
  text-align: center;
  padding-top: 25px;
}
#Foot_home_inner p {
  font-size: 12px;
}
.liststyle01 {
  width: 95%;
  margin: -0.3% auto;
}
.liststyle01 ul li {
  background: -moz-linear-gradient(left, #211e17 0%, #353327 50%, #211e17 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #211e17), color-stop(50%, #353327), color-stop(100%, #211e17));
  background: -webkit-linear-gradient(left, #211e17 0%, #353327 50%, #211e17 100%);
  border-bottom: 1px solid #353327;
  text-align: left;
  line-height: 40px;
}
.liststyle01 ul li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  width: 100%;
  overflow: hidden;
  background: url(../image/main/boardarrow.png) right 10px no-repeat;
  background-size: 20px 20px;
}
.liststyle01 ul li span {
  padding: 0 8px;
  display: inline-block;
  height: 45px;
  vertical-align: top;
  word-wrap: break-all;
}
.liststyle01 ul li span.new {
  padding: 0;
  /*background: url(../assets/sp/images/top/new_icon.png) left 7px no-repeat;*/
  background-size: 49px 26px;
  -webkit-background-size: 49px 26px;
  width: 49px;
  margin-left: 5px;
}
.liststyle01 ul li span.icon {
  /*background: url(../assets/sp/images/top/icon.png) left top no-repeat;*/
  background-size: 33px auto;
  -webkit-background-size: 33px auto;
  width: 33px;
}
.liststyle02 {
  margin-bottom: 13px;
  clear: both;
}
.liststyle02 ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.liststyle02 ul {
  min-height: 1px;
}
* html .liststyle02 ul {
  height: 1px;
  /*\*/
  /*/ height: auto; overflow: hidden; /**/
}
.liststyle02 ul li {
  width: 50%;
  display: inline;
  float: left;
  position: relative;
  padding-bottom: 15px;
}
.liststyle02 ul li a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}
.liststyle02 ul li a span.new {
  position: absolute;
  top: -12px;
  right: 0px;
  display: block;
  /*background: url(../assets/sp/images/top/new_icon.png) left top no-repeat;*/
  background-size: 49px 26px;
  -webkit-background-size: 49px 26px;
  width: 49px;
  height: 26px;
}
.liststyle02 ul li img {
  margin-right: 3%;
}
.btnstyle_01 {
  /*background: url(../assets/sp/images/top/bg_info_more.png) center top repeat-x;*/
  background-size: auto 100%;
  -webkit-background-size: auto 100%;
  height: 45px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.btnstyle_01 a {
  display: block;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  width: 100%;
  overflow: hidden;
  /*background-image: url(../assets/sp/images/top/bg_info_more_left.png), url(../assets/sp/images/top/bg_info_more_right.png);*/
  background-size: 28px 25px, 28px 25px;
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  height: 42px;
}
.btnstyle_01 a span {
  /*background: url(../assets/sp/images/top/bg_info_more_title.png) center 33% no-repeat;*/
  background-size: contain;
  -webkit-background-size: contain;
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  width: 120px;
  line-height: 45px;
}
.btnstyle_02 {
  width: 285px;
  margin: 0 auto;
}
.btnstyle_03 {
  width: 100%;
  clear: both;
  padding: 20px 0 0;
}
.btnstyle_03 a {
  display: block;
  width: 208px;
  margin: 0 auto 20px;
}
.btnstyle_04 {
  width: 100%;
  clear: both;
  padding: 0 0 20px;
}
.btnstyle_04 a {
  display: block;
  width: 130px;
  margin: 0 auto;
}
.btnstyle_04 a.nextBtn {
  float: right;
  display: block;
  width: 100px;
  margin: 0 20px 0 0;
}
.btnstyle_04 a.prevBtn {
  float: left;
  display: block;
  width: 100px;
  margin: 0 0 0 20px;
}
.btnstyle_05 {
  width: 100%;
  clear: both;
  padding: 0;
}
.btnstyle_05 a {
  display: block;
  width: 132px;
  margin: 0 auto;
}
.btnstyle_05 a.entry {
  display: block;
  width: 153px;
  margin: 0 auto;
}
.btnstyle_05 a.toShop {
  display: block;
  width: 225px;
  margin: 0 auto;
}
.btnstyle_06 {
  width: 100%;
  clear: both;
  padding: 0;
}
.btnstyle_06 a {
  display: block;
  width: 130px;
  margin: 0 auto;
}
.btnstyle_06 a.retryBtn {
  float: right;
  display: block;
  width: 132px;
  margin: 0 40px 0 0;
}
.btnstyle_06 a.getBtn {
  float: left;
  display: block;
  width: 132px;
  margin: 0 0 0 40px;
}
.btnstyle_06 a.noBtn {
  float: right;
  display: block;
  width: 132px;
  margin: 0 40px 0 0;
}
.btnstyle_06 a.yesBtn {
  float: left;
  display: block;
  width: 132px;
  margin: 0 0 0 40px;
}
.btnstyle_06 a.connectionBtn {
  float: left;
  display: block;
  width: 132px;
  margin: 0 0 0 40px;
}
.btnstyle_06 a.cancelBtn {
  float: right;
  display: block;
  width: 132px;
  margin: 0 40px 0 0;
}
.btnstyle_07 {
  width: 100%;
  clear: both;
  padding: 0;
}
.btnstyle_07 a {
  display: block;
  width: 450px;
  margin: 0 auto;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
#head {
  margin-bottom: 10px;
}
#head_inner {
  text-align: center;
}
#flick_area {
  top: 0;
  z-index: 1;
  background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
}
#flick_area_inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.mainvis {
  display: block;
  overflow: hidden;
}
.mainvis_inner {
  padding: 0 0 0;
}
.mainvis_inner ul li a img {
  margin: 2.5% auto 0 auto;
}
.mainvis .waku {
  position: relative;
  z-index: 10;
}
.mainvis .waku img {
  margin-top: -2.5%;
  position: absolute;
  display: block;
  width: 100%;
}
.mainvis img {
  display: block;
  position: relative;
}
.mainvis li {
  display: none;
}
.mainvis li.active {
  display: block;
}
.btn01 a {
  display: block;
  width: 10px;
  height: 10px;
  padding: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #e3e3e3;
}
.btn01 img {
  vertical-align: top;
}
#slide01 {
  left: 10%;
  position: absolute;
  top: 0;
  width: 100%;
}
date {
  color: #d8b860;
}
.box.term a {
  color: #FFFFFF;
}
a.sendCode {
  /*background: url(../assets/sp/images/top/btn_send.png) center top no-repeat;*/
  background-size: contain;
  -webkit-background-size: contain;
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  width: 208px;
  line-height: 38px;
  border: none;
  height: 38px;
}
a.sendInvite {
  /*background: url(../assets/sp/images/top/btn_send_invite.png) center top no-repeat;*/
  background-size: contain;
  -webkit-background-size: contain;
  overflow: hidden;
  display: inline-block;
  font-size: 0;
  width: 192px;
  line-height: 38px;
  border: none;
  height: 38px;
}
input[type='text'] {
  width: 82%;
  padding: 6px;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.nav_area {
  position: relative;
  left: 0%;
  clear: both;
  width: 100%;
  z-index: 10;
}
.nav_area .slide_backbtn {
  position: absolute;
  left: 0px;
  padding-top: 12.5%;
  z-index: 10;
  width: 10%;
}
.nav_area .slide_nextbtn {
  position: absolute;
  right: 0px;
  padding-top: 12.5%;
  z-index: 10;
  width: 10%;
}
.nav_area a {
  display: block;
  -webkit-touch-callout: none;
}
.slide_main {
  display: none;
}
.slidearea {
  overflow: hidden;
  margin: 0 auto;
  position: absolute;
  width: 100%;
  float: left;
}
.flipsnap {
  overflow: hidden;
  position: relative;
}
.slidethum {
  width: 24.322915%;
  display: inline;
  float: left;
  position: relative;
  cursor: pointer;
}
.st_cs {
  -webkit-box-shadow: inset 0px 0px 1px 4px #e70000;
}
.slidethum img {
  width: 100%;
  border: 0px;
  position: relative;
  z-index: -3;
}
.slidethum img.active {
  visibility: visible;
}
.slidethum img.no_active {
  visibility: hidden;
}
.pagenavi {
  text-align: center;
  width: 80%;
  position: relative;
  height: 40px;
  vertical-align: middle;
}
.pagenavi div {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 4px;
  border: 2px inset #000000;
  background-color: #565656;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 1.2%;
}
.pagenavi div.current {
  background: #ffe89d;
}
@-webkit-keyframes blink_new {
  from {
    opacity: 0.987;
  }
  to {
    opacity: 0.01;
  }
}
#flipsnap .new {
  position: absolute;
  left: 1%;
  top: 1.75%;
  width: 41.25%;
  z-index: 100;
  -webkit-animation-name: blink_new;
  -webkit-animation-duration: 1.124s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.79, 0.05, 0.89, 1);
}
.entryText {
  padding: 20px 10px;
  background: -moz-linear-gradient(left, #101010 0%, #202020 50%, #101010 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #101010), color-stop(50%, #202020), color-stop(100%, #101010));
  background: -webkit-linear-gradient(left, #101010 0%, #202020 50%, #101010 100%);
}
.entryText p {
  margin: 0 0 20px 0;
}
.entryText ul li {
  margin: 0;
  padding: 0;
  background: none;
  border-bottom: none;
  line-height: 1.3em;
}
.entryText ul li a {
  background: none;
  color: #d8b860 !important;
  text-decoration: underline;
}
.entryText table {
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: none;
  border-spacing: 1px !important;
  border-radius: 6px;
  background-color: #5b5b5b;
}
.entryText table tr th {
  background-color: #b7b7b7;
  color: #000000;
  padding: 6px;
}
.entryText table tr td {
  background-color: #333333;
  padding: 6px;
}
.entryText table tr th:first-child {
  border-radius: 6px 0 0 0 / 6px 0 0 0;
}
.entryText table tr th:last-child {
  border-radius: 0 6px 0 0 / 0 6px 0 0;
}
.entryText table tr:last-child td:first-child {
  border-radius: 0 0 0 6px / 0 0 0 6px;
}
.entryText table tr:last-child td:last-child {
  border-radius: 0 0 6px 0 / 0 0 6px 0;
}
.entryText h1, .entryText h2, .entryText h3, .entryText h4 {
  padding-bottom: 10px;
  font-weight: bold;
}
.entryText a {
  color: #d8b860;
}
.center {
  text-align: center;
}
.discription {
  color: #d1b600;
}
.lightBox {
  display: none;
  height: 100%;
  width: 100%;
  /*background: url(../assets/sp/images/top/bg_dot.png) left top repeat;*/
  position: fixed;
  top: 0;
  left: 0;
}
.lightBox .frame {
  margin: 30px;
  /*background-image: url(../assets/sp/images/top/bg_lb_base.png);*/
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5px;
}
.lightBox .frame .box {
  margin: 0px;
  /*background-image: url(../assets/sp/images/top/bg_lb_partsB.png), url(../assets/sp/images/top/bg_lb_partsA.png), url(../assets/sp/images/top/bg_lb_rb.png), url(../assets/sp/images/top/bg_lb_lb.png), url(../assets/sp/images/top/bg_lb_rt.png), url(../assets/sp/images/top/bg_lb_lt.png), url(../assets/sp/images/top/bg_lb_base2.png);*/
  background-position: right bottom, left top, right bottom, left bottom, right top, left top, left top;
  background-repeat: no-repeat;
  background-size: 174px 107px, 193px 117px, 28px 25px, 28px 25px, 28px 25px, 28px 25px, 100% 100%;
  padding: 10px;
  padding: 12px;
}
.lightBox .frame .box .lb_title {
  /*background: url(../assets/sp/images/top/bg_lb_title_bottom.png) left bottom no-repeat, url(../assets/sp/images/top/bg_lb_title_top.png) left top no-repeat, -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
  background: url(../assets/sp/images/top/bg_lb_title_bottom.png) left bottom no-repeat, url(../assets/sp/images/top/bg_lb_title_top.png) left top no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, #FFFFFF), color-stop(100%, rgba(255, 255, 255, 0)));
  background: url(../assets/sp/images/top/bg_lb_title_bottom.png) left bottom no-repeat, url(../assets/sp/images/top/bg_lb_title_top.png) left top no-repeat, -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);*/
  text-align: center;
  line-height: 20px;
  color: #000000;
  background-size: 100% 5px, 100% 5px, 100%;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.lightBox.error .frame .box .lb_title, .lightBox.error .frame .box .resultArea {
  color: red;
}
.lightBox .bonus, .lightBox .successButtonArea, .lightBox.error .closeButtonArea, .lightBox.retry .retryButtonArea {
  display: block;
}
.lightBox.error .bonus, .lightBox.error .successButtonArea, .lightBox .errorButtonArea, .lightBox .retryButtonArea, .lightBox.retry .closeButtonArea {
  display: none;
}
.lightBox .frame .box .resultArea {
  padding: 14px;
  margin: 0 10px 10px;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  /*-moz-border-image: url(../assets/sp/images/top/bg_lb_textArea.jpg) 50;
  -ms-border-image: url(../assets/sp/images/top/bg_lb_textArea.jpg) 50;
  -webkit-border-image: url(../assets/sp/images/top/bg_lb_textArea.jpg) 50;*/
  border-style: solid;
  border-width: 3px;
}
.lightBox .frame .box .resultArea .bonus {
  color: orange;
}
.close {
  position: fixed;
  width: 50px;
  top: 2px;
  right: 0;
  z-index: 9999;
}
.close img {
  width: 50px;
}
div.catBox {
  padding: 0 8px;
}
.liststyle01 ul li span.cat_news {
  color: #5b3b00;
  background: -moz-linear-gradient(top, #f1ba18 0%, #a78b33 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1ba18), color-stop(100%, #a78b33));
  background: -webkit-linear-gradient(top, #f1ba18 0%, #a78b33 100%);
  background-color: #f1ba18;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #d3b868;
  border-bottom: 1px solid #a78b33;
  margin-right: 7px;
  border-radius: 4px;
  height: auto;
}
.liststyle01 ul li span.cat_maintenance {
  color: #FFFFFF;
  background: -moz-linear-gradient(top, #3b74d3 0%, #3861a9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b74d3), color-stop(100%, #3861a9));
  background: -webkit-linear-gradient(top, #3b74d3 0%, #3861a9 100%);
  background-color: #f1ba18;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #7f9dce;
  border-bottom: 1px solid #668cd3;
  margin-right: 7px;
  border-radius: 4px;
  height: auto;
}
.liststyle01 ul li span.cat_update {
  color: #FFFFFF;
  background: -moz-linear-gradient(top, #2cab44 0%, #268838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2cab44), color-stop(100%, #268838));
  background: -webkit-linear-gradient(top, #2cab44 0%, #268838 100%);
  background-color: #f1ba18;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #42cd5c;
  border-bottom: 1px solid #2cac44;
  margin-right: 7px;
  border-radius: 4px;
}
.liststyle01 ul li span.cat_event {
  color: #FFFFFF;
  background: -moz-linear-gradient(top, #cc27d2 0%, #962c89 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc27d2), color-stop(100%, #962c89));
  background: -webkit-linear-gradient(top, #cc27d2 0%, #962c89 100%);
  background-color: #f1ba18;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #c375b9;
  border-bottom: 1px solid #cc27d2;
  margin-right: 7px;
  border-radius: 4px;
}
.liststyle01 ul li span.cat_important {
  color: #FFFFFF;
  background: -moz-linear-gradient(top, #c23724 0%, #952e24 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c23724), color-stop(100%, #952e24));
  background: -webkit-linear-gradient(top, #c23724 0%, #952e24 100%);
  background-color: #f1ba18;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #b1554b;
  border-bottom: 1px solid #c23724;
  margin-right: 7px;
  border-radius: 4px;
}
.liststyle01 ul li span.cat_help {
  color: #d8b860;
  background: -moz-linear-gradient(top, #2e200e 0%, #22180b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e200e), color-stop(100%, #22180b));
  background: -webkit-linear-gradient(top, #2e200e 0%, #22180b 100%);
  background-color: #2e200e;
  display: inline;
  float: left;
  font-size: 12px;
  height: auto;
  line-height: 12px;
  margin-top: 12px;
  padding: 6px;
  border-top: 1px solid #987f73;
  border-left: 1px solid #987f73;
  border-right: 1px solid #72665d;
  border-bottom: 1px solid #523935;
  margin-right: 7px;
  border-radius: 4px;
}
div.catBox date {
  color: #d8b860;
  float: right;
  padding-top: 4px;
}
body.pointShop {
  padding-top: 3.2em;
}
.pointBox {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  display: block;
  padding: 1em 1em 0.9em 3em;
  line-height: 1em;
  border-bottom: 1px solid #333333;
}
.pointBox img {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
.pointInfo {
  padding: 1em;
  line-height: 1.3em;
}
.pointInfo .pointText {
  padding: 0;
  float: right;
  width: 75%;
  text-decoration: left;
}
.pointInfo .pointTitle {
  color: #f4c844;
  height: 1em;
  padding: 0;
  margin-bottom: 10px;
}
.pointInfo img {
  width: 22%;
  float: left;
  /*background: url(../assets/sp/images/top/bg_point.png) top left no-repeat;*/
  background-size: 100% 100%;
}
.pointGuide {
  padding: 1em;
  line-height: 1.3em;
  text-align: left;
}
body.pointShop .entryText {
  padding: 0;
  letter-spacing: -1em;
}
body.pointShop .entryText ul .box .imageBox {
  margin: 10px auto 0;
}
body.pointShop .entryText ul .box .btnBox {
  margin: 10px 0;
}
body.pointShop .entryText ul .box .itemName {
  text-align: center;
  padding: 0.6em 0;
  /*background: url(../assets/sp/images/top/label_top.png) center top no-repeat, url(../assets/sp/images/top/label_bottom.png) center bottom no-repeat;*/
  background-size: 100% 5px;
  font-size: 88%;
  color: #f4c844;
}
body.pointShop .entryText ul .box.full {
  width: 100%;
  display: inline-block;
}
body.pointShop .entryText ul .box.full .imageBox {
  width: 45%;
}
body.pointShop .entryText ul .box {
  vertical-align: top;
  width: 33.3%;
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  text-align: center;
  letter-spacing: normal;
}
body.pointShop .entryText ul .box .imageBox {
  width: 84%;
}
body.pointShop .entryText ul .box .imageBox img {
  width: 100%;
}
body.pointShop .entryText ul .box .pointBtn {
  /*background: url(../assets/sp/images/top/btn_point_red.png) top left no-repeat;*/
  background-size: 100% 100%;
  padding: 0.7em 0;
  text-decoration: none;
  width: 12em;
  display: block;
  margin: 0 auto;
}
body.pointShop .entryText ul .box .pointBtn.gray {
  /*background: url(../assets/sp/images/top/btn_point_gray.png) top left no-repeat;*/
  background-size: 100% 100%;
}
body.pointShop .entryText ul .box .pointBtn span {
  height: auto;
  color: #ffffff;
  text-shadow: 0 0 2px #000000;
}
body.pointShop .successButtonArea {
  text-align: center;
  display: block;
}
body.pointShop .resultInner {
  padding: 1em 0;
  line-height: 1.5;
}
.icon_txt p {
  -webkit-transform: translate3d(0, 0, 0)!important;
}
#helpMenu ul li h2 {
  padding: 0 10px 5px 10px;
  font-size: 15px;
  color: #d4b75b;
  background: url(../assets/sp/images/sub/bg_help_h2.jpg) center bottom no-repeat #333;
  background-size: 100% 3px;
  -webkit-background-size: 100% 3px;
}
#helpMenu ul li ul li {
  padding-left: 10px
}

/* レビューページ用 */

body.review .liststyle01 li.mainImage img {
  padding-top: 1.3em;
}
body.review .liststyle01 li.discription {
  color: #d1b600;
  text-align: center;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}
body.review .btnstyle_06 a.rightBtn {
  float: right;
  display: block;
  width: 174px;
  margin: 0 40px 0 0;
}
body.review .btnstyle_06 a.leftBtn {
  float: left;
  display: block;
  width: 174px;
  margin: 0 0 0 40px;
}
body.review .btnstyle_06 a img {
  width: 100%;
}

/* 弱酸性ページ用 */

body.comics .lastUpdate {
  background: url(../assets/app/images/top/bg_comics.png) center center no-repeat #ffffff;
  background-size: cover;
  padding: 1em 0;
}
body.comics .lastUpdate a {
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 42%;
  margin: 0 auto;
}
body.comics .lastUpdate span {
  color: #906a00!important;
  display: block;
  padding-top: 0.5em;
  font-size: 1.2em;
}
body.comics .lastUpdate a img {
  width: 100%;
}
body.comics .entryText {
  padding: 0;
  letter-spacing: -1em;
}
body.comics .entryText .comicBox {
  padding-top: 0.5em;
  padding-bottom: 1em;
}
body.comics .entryText ul .box {
  width: 33.3%;
  display: inline-block;
  padding: 1em 0;
  margin: 0;
  text-align: center;
  letter-spacing: normal;
}
body.comics .entryText ul .box img {
  width: 84%;
}
body.comics .entryText ul .box span {
  padding-top: 1em;
  height: auto;
  display: block;
}
body.comics .entryText ul .box a {
  text-decoration: none!important;
}
body.comics .pager {
  text-align: center;
}
body.comics .pager span {
  display: inline-block;
  padding: 1.2em 0.7em;
  width: 2em;
  background-color: #000000;
  margin: 0 0.2em;
  letter-spacing: 0;
  text-decoration: none;
  color: #FFFFFF;
  background: url(../assets/app/images/top/bg_page.png) center center no-repeat;
  background-size: 100% 100%;
  border: none;
}
body.comics .pager a {
  display: inline-block;
  padding: 1.2em 0.7em;
  width: 2em;
  background-color: #000000;
  margin: 0 0.2em;
  letter-spacing: 0;
  text-decoration: none;
  color: #d1b600;
  background: url(../assets/app/images/top/bg_page.png) center center no-repeat;
  background-size: 100% 100%;
  border: none;
}
body.comics .pager a:hover {
  opacity: 0.5;
}
body.comics .title {
  color: #d1b600;
  text-align: center;
  font-size: 1.2em;
}
body.comics .btnstyle_04 {
  text-align: center;
}
body.comics .btnstyle_04.top {
  padding: 20px 0 0;
}
body.comics .btnstyle_04 a {
  display: inline-block;
}
body.comics.entry .entryText ul .box {
  width: 70%;
}
body.comics.entry .entryText ul .box img {
  width: 100%;
}
body.comics.entry .btnstyle_04 {
  width: 360px;
  margin: 0 auto;
  position: relative;
}
body.comics.entry .btnstyle_04 a {
  width: auto;
}
body.comics.entry .btnstyle_04 a.prev {
  position: absolute;
  left: 0;
}
body.comics.entry .btnstyle_04 a.next {
  position: absolute;
  right: 0;
}
body.comics .btnstyle_04 span.nextBtn {
  position: absolute;
  right: 0;
  display: block;
  width: 100px;
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  background: none;
}
body.comics .btnstyle_04 span.nextBtn a {
  display: block;
  width: 100px;
  height: 0;
  padding: 52px 0 0 0;
  overflow: hidden;
  background: url(../assets/app/images/top/btn_next.png) center center no-repeat;
  background-size: contain;
  border: none;
}
body.comics .btnstyle_04 span.prevBtn {
  position: absolute;
  left: 0;
  display: block;
  width: 100px;
  margin: 0 0 0 20px;
  padding: 0;
  border: none;
  background: none;
}
body.comics .btnstyle_04 span.prevBtn a {
  display: block;
  width: 100px;
  height: 0;
  padding: 52px 0 0 0;
  overflow: hidden;
  background: url(../assets/app/images/top/btn_prev.png) center center no-repeat;
  background-size: contain;
  border: none;
}
body.comics .entryText ul .box .imageArea {
  width: 84%;
  margin: 0 auto;
  position: relative;
}
body.comics .entryText ul .box .imageArea img {
  width: 100%;
  position: relative;
}
body.comics .entryText ul .box .imageArea div:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/comics/frame.png) no-repeat;
  background-size: 100% 100%;
}
body.comics .lastUpdate .imageArea {
  position: relative;
}
body.comics .lastUpdate .imageArea:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/comics/frame.png) no-repeat;
  background-size: 100% 100%;
}

/* 拡散性ページ用 */

body.story .liststyle01 li {
  padding: 0 0.5em;
}
body.story .liststyle01 li.discription {
  color: #FFFFFF;
  text-align: center;
  padding: 0.5em 0;
  font-weight: bold;
  line-height: 1.3em;
}
body.story .liststyle01 li.type {
  color: #d1b600;
  padding: 0.5em 0;
  text-align: center;
}
body.story .liststyle01.acordion li.ac {
  padding: 0;
}
body.story .liststyle01.acordion li.ac span.trigger {
  display: block;
  padding-left: 4.5em;
}
body.story .liststyle01.acordion li.ac span.none-submenu {
  background: url(../assets/app/images/top/deactive_arrow.png) left center no-repeat #000000;
  background-size: contain;
}
body.story .liststyle01.acordion li.ac span.active-submenu {
  background: url(../assets/app/images/top/active_arrow.png) left center no-repeat #000000;
  background-size: contain;
}
body.story .liststyle01.acordion li.ac a {
  background: url(../assets/app/images/top/movie_arrow.png) right center no-repeat;
  background-size: contain;
}
body.story .liststyle01.acordion li.ac li {
  border-top: 1px solid #333333;
  border-bottom: none;
}
body.story .liststyle01.acordion li.ac .submenu {
  display: none;
}
