
/* 카테고리 */
#bo_cate_ul li {padding: 10px 0;}
#bo_cate_ul li a{
border-radius: 5px;
padding: 5px 10px;
border: 1px solid #ddd;}
#bo_cate_on {font-weight: bold;
border-radius: 5px;
padding: 5px 10px;
border: 1px solid #ddd;}

/* 게시판 목록 */
#bo_list .td_subject {vertical-align: middle;}
#bo_list .td_board {width:120px;text-align:center;vertical-align: middle;}
#bo_list .td_chk {width:30px;text-align:center;vertical-align: middle;}
#bo_list .td_date {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_datetime {width:110px;text-align:center;vertical-align: middle;}
#bo_list .td_group {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_mb_id {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_mng {width:80px;text-align:center;vertical-align: middle;}
#bo_list .td_name {width:150px;text-align:left;vertical-align: middle;}
#bo_list .td_nick {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_num {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_numbig {width:60px;text-align:center;vertical-align: middle;}
#bo_list .td_stat {width:100px;text-align:center;vertical-align: middle;}
#bo_list .td_category {width:120px;text-align:center;vertical-align: middle;}

/* 모바일에서 회원아이콘 안보이게 */
#bo_list .user img {display: none;}

#save_comment_22 {display:none;}

.cate_label {border: 1px solid #ddd;
    padding: 3px 5px;
    background: #fff;
	font-size:11px;
}